# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.s51
*.cat
*.inf
*.r51
Documents/documents/document 2017-2-24/技术文档17-2-24.html
*.exe
*.bat
*.js
*.bin
*.sim
*.lib
*.map
*.hex
*.d51
*.pbi
*.cout
*.pbd
*.sfr
*.wsdt
*.browse
*.dbgdt
*.dni
*.dep
*.ewd
*.ewp
*.vupr
*.txt
*.udti
*.ico
*.dat
